$icon-font-path: '../../bower_components/bootstrap-sass/assets/fonts/bootstrap/' !default;

// # Colors
$orange:                #FFC501;
$orange--dark:          #FE9600;
$yellow:                #FFEE4A;
$purple:                #77477E;

$black:                 #03001C;
$white:                 #FFF;
