.hero__wrapper {
    width: 100%;
    margin: 0 auto 10px auto;

    img.hero__image { width: 100%; }

    // infos in header elements can be found from hero image -> hide these
    // (it is better for SEO that site has meaningful H1)
    h1,h3,h5 { display: none; }
}


section.info {

}
