<section class="competition-infos__wrapper" id="competitions" ng-init="init()">
    <h2>Kilpailut</h2>

    <div class="competition__content competition__content--jj1" ng-class="{minimized: uiClosed.jj1}">
        <div class="competition__header" ng-click="uiClosed.jj1 = !uiClosed.jj1"
            analytics-on="click" analytics-event="competion-jj1">
            <h2 class="competition__title"><span class="hilight">#1</span>: Konehuone Classics</h2>
            <p class="competition__powered-by">powered by</p>
            <a href="https://www.facebook.com/JimJillKajaani">
                <img class="competition__sponsor" src="/assets/logo-jimnjill.png" alt="Jim&amp;Jill logo">
            </a>
        </div>

        <div class="competition__desc">
            <h4 class="competition__state">
                Osallistujia tähän mennessä: <span class="hilight">{{compData.fb.eventPosts}}</span>
            </h4>
            <ol>
                <li>Valitse mielestäsi paras / osuvin Konehuone-klassikkokappale</li>
                <li>Linkkaa kappale <a href="https://www.facebook.com/events/1756954314531757/" target="_blank">Facebook-tapahtumaamme</a></li>
            </ol>
            <p>Tapahtuman seinällä 31.10. klo 19 mennessä eniten peukkuja kerännyt kappale voittaa <span class="hilight">100€ lahjakortin Kajaanin Jim &amp; Jill</span>iin ja kaksi pääsylippua tapahtumaan!</p>
            <p>Tämän lisäksi tuomaristo valitsee mielenkiintoisimmat perustelut yksittäiselle kappaleelle, ja palkitsee sen lähettäjän kahdella pääsylipulla tapahtumaan.</p>

        </div>
    </div>

    <div class="competition__content competition__content--rc" ng-class="{minimized: uiClosed.rc}">
        <div class="competition__header" ng-click="uiClosed.rc = !uiClosed.rc"
            analytics-on="click" analytics-event="competion-rc">
            <h2 class="competition__title"><span class="hilight">#2</span>: Instagram Tsunami</h2>
            <p class="competition__powered-by">powered by</p>
            <a href="https://www.facebook.com/rcollectionfinland">
                <img class="competition__sponsor" src="/assets/logo-rcollection.png" alt="R-Collection logo">
            </a>
        </div>

        <div class="competition__desc">
            <h4 class="competition__state">
                Osallistujia tähän mennessä: <span class="hilight">{{compData.ig.media_count}}</span>
            </h4>

            <div class="ig-feed__wrapper">
                <a class="ig__image__wrapper" ng-repeat="image in igImages" ng-href="{{image.link}}" target="_blank"
                    analytics-on="click" analytics-event="instagram-feed-link">
                    <div class="ig__image" ng-style="{'background-image': 'url(' + image.thumbUrl + ')'}">
                    <p class="ig__user">{{image.user}}</p>
                </a>
            </div>

            <ol>
                <li>Etsi kadulta KonehuoneX-juliste tai -flyeri, ja ota siitä kuva</li>
                <li>(Jos et löydä julisteita tai käy pihalla, käytä vaihtoehtoisesti <a class="hilight" href="#">tätä kuvaa</a>)</li>
                <li>Lähetä kuva Instagramiin käyttäen <span class="hilight">#konehuonex</span>-hashtagia</li>
            </ol>
            <p>31.10. klo 19 mennessä hashtagia käyttäneiden kesken arvotaan <span class="hilight">R-Collectionin anorakki-lahjakortti</span> sekä kaksi pääsylippua tapahtumaan!</p>
            <p>Tämän lisäksi tuomaristo valitsee hauskimman / erikoisimman kuvan osallistujien joukosta, ja palkitsee hänet <span class="hilight">R-Collectionin collegella ja pipolla</span> sekä kahdella pääsylipulla tapahtumaan.</p>
        </div>
    </div>

    <div class="competition__content competition__content--jj2" ng-class="{minimized: uiClosed.jj2}">
        <div class="competition__header" ng-click="uiClosed.jj2 = !uiClosed.jj2"
            analytics-on="click" analytics-event="competion-jj2">
            <h2 class="competition__title"><span class="hilight">#3</span>: Facebook Roll Call</h2>
            <p class="competition__powered-by">powered by</p>
            <a href="https://www.facebook.com/JimJillKajaani">
                <img class="competition__sponsor" src="/assets/logo-jimnjill.png" alt="Jim&amp;Jill logo">
            </a>
        </div>

        <div class="competition__desc">
            <h4 class="competition__state">
                Osallistujia tähän mennessä: <span class="hilight">{{compData.fb.eventAttendees}}</span>
            </h4>
            <ol>
                <li>Merkitse itsesi saapuvaksi <a href="https://www.facebook.com/events/1756954314531757/" target="_blank">Facebook-tapahtumaamme</a></li>
                <li>???</li>
                <li>Ei muuta!</li>
            </ol>
            <p>Facebook-tapahtuman osallistujien kesken arvotaan 31.10. klo 19 <span class="hilight">80€ lahjakortti Kajaanin Jim &amp; Jill</span>iin ja kaksi pääsylippua tapahtumaan.</p>
        </div>
    </div>
</section>
